*,*::before, *::after {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    font: weight 600px;;
} 
body {
    padding: 0%;
    margin: 0%;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(4deg, #d27c2c,transparent);
    background-repeat: no-repeat;
}
.container {
    width: 800px;
    max-width: 80%;
    background-color: #4b7f66;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    opacity: 7;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 20px 0;
}
.btn {
    font-size: 2em;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 2em;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid rgb(16, 19, 16);
    outline:#d27c2c;
    border: 1px solid rgb(16, 19, 16);
}
.btn:hover {
    border-color: #df1515;
}
#btn-answer {
    font-size: 1em;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid rgb(16, 19, 16);
    border: 1px solid rgb(16, 19, 16);
}
.controls {
     display: flex;
     justify-content: center;
     text-align: center;
}

.hide {
    display: none;
}